<html>
<head>
    <title>Keenhome User FAQ</title>
</head>

<body>
    <center>
		<font size="12px" color="purple">
			User FAQ
		</font>
	</center>
	
	<center>
	<div>
		<font size="12px">
		The user FAQs are to be listed.
		</font>
	</div>
	</center>
	
</body>

<center>
<form action="/keenhome/">
	To the main page
	<input type="submit" value="Main Page" />
</form>

<form action="/keenhome/">
	To Control Panel
	<input type="submit" value="Control Panel" />
</form>

<form action="/keenhome/accounts/logout">
	Logout
	<input type="submit" value="Logout" />
</form>
</center>

</html>