{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

{% if latest_poll_list %}
	<ul>
    {% for poll in latest_poll_list %}
        <li><a href="/keenhome/{{ poll.id }}/">{{ poll.question }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

<center>
<form action="/keenhome/accounts/user_profile/">
	<input type="submit" value="User Profile" />
</form>

<form action="/keenhome/control/">
	<input type="submit" value="Control" />
</form>

<form action="/keenhome/accounts/logout/">
	<input type="submit" value="Logout" />
</form>

<form action="/keenhome/faq/">
	<input type="submit" value="User FAQ" />
</form>
</center>