<html>
<head>
    <title>Keenhome User Profile</title>
</head>

<body>
    <center>
		<font size="12px" color="purple">
			Profile Information
		</font>
	</center>
	
	<center>
	<ul>
    	<li>User Name: {{ name }}</li>
		<li>Product Number: {{ productNo }}</li>
		<li>Location: {{ location }}</li>
		<li>Average Temperature: {{ average_temp }}</li>
		<li>Home Type: {{ home_type }}</li>
    </ul>
	</center>
	
</body>

<center>
	Update this profile
	<form action="/keenhome/accounts/user_profile_update/">
		<input type="submit" value="Update Profile">
	</form>
	
	<form action="/keenhome/control/">
		To Control Panel
		<input type="submit" value="Control Panel" />
	</form>

<form action="/keenhome/">
	To the main page
	<input type="submit" value="Main Page" />
</form>

<form action="/keenhome/accounts/logout">
	Logout
	<input type="submit" value="Logout" />
</form>
</center>

</html>