<html>
<head>
    <title>Keenhome User Control Panel</title>
</head>

<body>
    <center>
		<font size="12px" color="purple">
			Control Panel
		</font>
	</center>
	
	<center>
    {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}
	
	<center>
		<form action="/keenhome/control/living_room/">
			<input type="submit" value="Control Living Room" />
		</form>

		<form action="/keenhome/control/dinning_room/">
			<input type="submit" value="Control Dinning Room" />
		</form>
		
		<form action="/keenhome/control/kitchen/">
			<input type="submit" value="Control Kitchen" />
		</form>

		<form action="/keenhome/control/bed_room1/">
			<input type="submit" value="Control Bedroom Room 1" />
		</form>
		
		<form action="/keenhome/control/bed_room2/">
			<input type="submit" value="Control Bedroom Room 2" />
		</form>
		
		<form action="/keenhome/control/bed_room3/">
			<input type="submit" value="Control Bedroom Room 3" />
		</form>
		
	</center>
	
</body>

<center>
<form action="/keenhome/">
	To the main page
	<input type="submit" value="Main Page" />
</form>

<form action="/keenhome/control/current_status/">
	To current control status
	<input type="submit" value="Current Status" />
</form>

<form action="/keenhome/accounts/logout">
	Logout
	<input type="submit" value="Logout" />
</form>
</center>

</html>