<html>
<head>
    <title>Keenhome User Current Status</title>
</head>

<body>
    <center>
		<font size="12px" color="purple">
			Current Status Of All Rooms
		</font>
	</center>
	
	<center>
	<ul>
    	<li>Livingroom: {{ LR_on_off }}, Temperature: {{ LR_temp }} </li>
		<li>Kitchen: {{ KC_on_off}}, Temperature: {{ KC_temp }}</li>
		<li>Dinningroom: {{  DR_on_off  }}, Temperature: {{ DR_temp }}</li>
		<li>Bedroom 1: {{ BD1_on_off }}, Temperature: {{ BD1_temp }}</li>
		<li>Bedroom 2: {{ BD2_on_off  }}, Temperature: {{ BD2_on_off }}</li>
		<li>Bedroom 3: {{ BD3_on_off }}, Temperature: {{ BD3_temp }}</li>
    </ul>
	</center>
	
</body>

<center>
	
	<form action="/keenhome/control/">
		To Control Panel
		<input type="submit" value="Control Panel" />
	</form>

<form action="/keenhome/">
	To the main page
	<input type="submit" value="Main Page" />
</form>

<form action="/keenhome/accounts/logout">
	Logout
	<input type="submit" value="Logout" />
</form>
</center>

</html>